# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear

# Compilações
target/
build/
out/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Arquivos temporários
# =========================
*.tmp
*.temp

# =========================
# Maven / Gradle
# =========================
.gradle/
.mvn/

# Wrapper logs
gradle-app.setting

# =========================
# Configurações locais
# =========================
.env
*.env

# =========================
# Cache
# =========================
.cache/